.mainContent{
    display: flex;
    height: 100%;
    background: 
      linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.9)),
}

.quickLinkWrapper {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1.5;
    order: 1;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
    background: 
      linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.9)),
}

.requestWrapper {
    background-color: #fff;
    background: 
        linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9));
        /* url('../../assets/img/chat-bg-1.png') center center no-repeat; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    /* overflow-y: scroll; */
    padding:20px 0px 0px 24px;
}

.analyticsWrapper {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1.5;
    order: 3;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
    float: right;
}
