
  <div class="requestCard">

    <div class= "notification">
      <app-notification *ngIf= "feature === 'history'"></app-notification>
      <br>
    </div>
    <!-- <button type="button" class="waves-effect waves-light btn"  (click)="ifLend()" >Lend Money</button>
    <button type="button" class="waves-effect waves-light btn" (click)="ifBorrow()">Borrow</button> -->

        <div >
          <app-send-money *ngIf= "feature === 'lend'" (requestEvent)="onItemAdded($event)"></app-send-money>
        </div>

        <div >
          <app-borrow-money *ngIf="feature === 'borrow'" (requestBorrow)="onItemAdded($event)"></app-borrow-money>
        </div>

  </div>

<!-- </div> <div class="col-xs-12">
    <h4><label class="label label-primary"> Create a new Borrowing request</label></h4>
     <form class="form-group" style="border:thin black solid;padding:10px;">
        <form class="form-group">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label class="label label-default">Name or ID of the lender</label>
            <input #name type="text" id="name" class="form-control">
          </div>
          <div class="col-sm-2">
              <label class="label label-default">Amount</label>
              <input #amount type="number" id="amount" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <button class="btn btn-success" (click)="createRequest()">BORROW</button>
          </div>
        </div>
      </form>
    </div>
 -->
